{% extends "base.html" %}

{% block content %}

    {% if session['user_id'] == store_user %}
        <a href="{{ url_for('create_product') }}" class="btn btn-primary mb-3 float-end">+ Add Product</a>
    {% endif %}

    <h1>{{ title }}</h1>
    <hr>
    
    <!-- Row for Products Grid-->
    <div class="row g-1 g-sm-3">
    {% for product in products %}

        <!-- Product Card Column -->
        <div class="col-sm-6 col-lg-4">

            <!-- Product Card -->
            <div class="card h-100">

                <!-- Product Card Content Row -->
                <div class="row g-0">

                    <!-- Product Image Columns -->
                    <div class="col-4 col-sm-12 col-xl-4 bg-secondary-subtle d-flex align-items-center justify-content-center">
                        <a href="{{ url_for('product_detail', id=product['id']) }}">
                            <img src="{{ product['image_url'] }}" alt="Image for {{ product['name'] }}" class="img-fluid">
                        </a>
                    </div>
                    <!-- Product Details Columns -->
                    <div class="col-8 col-sm-12 col-xl-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ product['name'] }}</h5>
                            <p class="card-text mb-1">{{ product['description'] }}</p>
                            <div class="badge text-bg-secondary mb-2">{{ product['category'] }}</div>
                            <div class="mb-2"><strong>£{{ product['price'] }}</strong></div>
                            <div class="mb-2 text-muted small">Store: {{ product['store_name'] }}</div>
                            <a href="{{ url_for('product_detail', id=product['id']) }}" class="btn btn-sm btn-outline-secondary">View Details</a>  
                        </div>
                    </div>

                </div>

            </div> 

        </div> 

    {% endfor %}
    </div>
    
{% endblock %}